.right-sidebar{
    position:absolute;
}
  .left-sidebar{
    background-color:rgba(58, 58, 58, 0.336);
    padding: 0px;
  }
  .searchbox{
    width: 100%;
    padding:27px 10px;
  }
  .form-control,.search-icon,.search-icon:hover{
    background-color: rgba(106, 108, 117, 0.288);
    border:1px solid #fff;
    color:#fff;
    box-shadow: none !important;
  }
  .form-control:focus{
    border:1px solid #fff;
  }
  .chat-left-img,.chat-left-detail{
    float: left;
  }
  .left-chat{
    overflow-y:scroll;
  }
  .left-chat ul{
    overflow: hidden;
    padding: 0px;
  }
  .left-chat ul li{
    list-style: none;
    width:100%;
    float: left;
    margin:10px 0px 8px 15px;
  }
  .chat-left-img img{
    width:50px;
    height:50px;
    border-radius: 50%;
    text-align: left;
    float:fixed;
    border:3px solid rgba(107, 111, 121, 0.356);
  }
  .chat-left-detail{
    margin-left: 10px;
  }
  .chat-left-detail p{
    margin: 0px;
    color:#fff;
    padding:7px 0px 0px;
  }
  .chat-left-detail span{
    color:rgba(184, 186, 195, 0.336);
  }
  .chat-left-detail span i{
    color:#86BB71;
    font-size: 10px;
  }
  .chat-left-detail .orange{
    color:#E38968;
  }
  .right-header-img img{
    width:50px;
    height:50px;
    float: left;
    border-radius: 50%;
    border:3px solid #61BC71;
    margin-right: 10px;
  }
  .right-header{
    padding:20px;
    height:90px;
    background-color:rgba(34, 16, 4, 0.459); 
  }
  .right-header-detail p{
    margin: 0px;
    color:#fff;
    font-weight: bold;
    padding-top:5px;
    
  }
  .right-header-detail span{
    color:rgba(34, 16, 4, 0.459);
    font-size: 12px;
    font-family: verdana;
    
  }
  .rightside-left-chat,.rightside-right-chat{
    float:left;
    width:80%;
    position: relative;
  }
  .rightside-right-chat{
    float:right;
    margin-right:35px;
  }
  .right-header-contentChat{
    overflow-y: scroll; 
    position: relative;
    background-color: rgba(161, 159, 159, 0.336);
  }
  .right-chat-textbox{
    padding: 15px 30px;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.336);
  }
  .right-chat-textbox input{
    width:85%;
    height:40px;
    color:#9FA5AF;
    border-radius:5px;
    padding: 0px 10px;
    border:1px solid #464343;
  }
  .right-chat-textbox a i{
    color:rgba(58, 58, 58, 0.349);
    text-align: center;
    height:40px;
    width:40px;
    background-color:#fff; 
    border-radius: 50%;
    padding:12px 0px;
    margin-left:20px;
  }
  .rightside-left-chat span i,.rightside-right-chat span i{
    color: #86BB71;
    font-size: 12px;
  }
  .rightside-right-chat span i{
    color:#94C2ED;
  }
  .rightside-right-chat span{
    float:right;
  }
  .rightside-right-chat span small,.rightside-left-chat span small{
    color:rgba(189, 189, 194, 0.308);
  }
  .rightside-left-chat:before{
    content: " ";
    position:absolute;
    top:14px;
    left:15px;
    bottom:150px;
    border:15px solid transparent;
    border-bottom-color:#86BB71; 
    z-index: 1;
  }
  #min{
    color:#fff;
    font-family: verdana;
    font-weight: 900;
  }
  .rightside-right-chat:before{
    content: " ";
    position:absolute;
    top:14px;
    right:15px;
    bottom:150px;
    border:15px solid transparent;
    border-bottom-color:#94C2ED; 
  }
  @media only screen and (max-width:320px){
    body {
        
        background-size:cover;
        background-repeat: no-repeat;
    }
    .main-section{
      display: none;
    }
  }
  #show .time{
    position:absolute;
    top:-2px;
    font-size:10px;
    color:#777;
  }
  
  #show .name{
    color:#fff;
    vertical-align:middle;
  }
  
  #show .content{
    background:rgba(255,255,255,.8);
    padding:10px;
    margin-top:15px;
    margin-left:10px;
    border-radius:5px;
    vertical-align:middle;
  }
  #show>div{
    position:relative;
    margin:0 0 20px 0;
    clear:both;
    height:40px;
  }
  
  #show>div>div{
    display:inline-block;
  }  
